.list-item {
  display: flex;
  column-gap: 1rem;
}

.figure {
  width: 150px;
  height: 150px;
  background-color: lightgrey;
}

.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.section {
  flex-grow: 1;
}

.title {
  margin-left: 5px;
}

.actions {
  margin-bottom: 1rem;
  align-self: flex-start;
}

.placeholder {
  width: 100%;
  height: 2rem;
}
